#nav {
  --bs-blue: #0d6efd;

}

body{
width:100%;
}
/* #panelnav :hover { 
  color: aqua;
  transition-delay: 1s;
} */

div#info{
margin-top:50px;
}

header {
  text-align: left;

}
.container nav{
text-align: center;
background-color: blue;
}

#contact{
position: relative;
top:0px;
bottom:0px;
left:0px;
right:0px;
background-image:url("white_wall.jpg");
background-repeat: no-repeat;
background-position: 50% 50%;
background-size:cover;
}
a.text{
text-align: center;
}
section#aboutme {
  text-align: center;
}
#edu1 {
text-align:left;
}
#edu2 {
text-align:left;
}

.tags span {
  border: 1px solid #f00;
  color: rgba(13, 17, 1, 0.769);
  padding: 2px 10px;
  display: inline-block;
  margin: 3px;
  border-radius: 20px;
  font-size: 0.8em;
}